.information-container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px 20px 100px 20px;
}

.information .content {
  display: flex;
  align-items: center;
  padding: 15px;
}

.information .content .left img {
  border-radius: 20px 0 0 20px;
  width: 400px;
  height: 230px;
  box-shadow: 5px 5px 0 #718b9b;
}

.information .content .right {
  width: 400px;
  height: 230px;
  background-color: #c7e4f7;
  border-radius: 0 20px 20px 0;
  box-shadow: 5px 5px 0 #718b9b;
  display: flex;
  align-items: center;
  justify-content: center;
}

.information .content .left2 img {
  border-radius: 0 20px 20px 0;
  width: 400px;
  height: 230px;
  box-shadow: 5px 5px 0 #969665;
}

.information .content .right2 {
  width: 400px;
  height: 230px;
  background-color: #fafabe;
  border-radius: 20px 0 0 20px;
  box-shadow: 5px 5px 0 #969665;
  display: flex;
  align-items: center;
  justify-content: center;
}

.information .content .left3 img {
  border-radius: 20px 0 0 20px;
  width: 400px;
  height: 230px;
  box-shadow: 5px 5px 0 #8d696f;
}

.information .content .right3 {
  width: 400px;
  height: 230px;
  background-color: pink;
  border-radius: 0 20px 20px 0;
  box-shadow: 5px 5px 0 #8d696f;
  display: flex;
  align-items: center;
  justify-content: center;
}

.information .content .left4 img {
  border-radius: 0 20px 20px 0;
  width: 400px;
  height: 230px;
  box-shadow: 5px 5px 0 #867d6f;
}

.information .content .right4 {
  width: 400px;
  height: 230px;
  background-color: papayawhip;
  border-radius: 20px 0 0 20px;
  box-shadow: 5px 5px 0 #867d6f;
  display: flex;
  align-items: center;
  justify-content: center;
}

.information .content p {
  line-height: 25px;
  font-weight: 700;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.information-container h1 {
  padding-bottom: 60px;
}

.information .content .right p {
  color: #009dff;
}

.information .content .right2 p {
  color: green;
}

.information .content .right3 p {
  color: blueviolet;
}

.information .content .right4 p {
  color: brown;
}

@media (max-width: 820px) {
  .content1 {
    flex-direction: column-reverse;
  }

  .information .content .left img,
  .information .content .left3 img {
    border-radius: 20px 20px 0 0;
  }

  .information .content .right,
  .information .content .right3 {
    border-radius: 0 0 20px 20px;
  }

  .information .content .left2 img,
  .information .content .left4 img {
    border-radius: 0 0 20px 20px;
  }

  .information .content .right2,
  .information .content .right4 {
    border-radius: 20px 20px 0 0;
  }

  .content {
    flex-direction: column;
  }

  .information-container {
    padding-bottom: 0;
    text-align: center;
  }
}

@media (max-width: 450px) {
  .information .content .left img, .information .content .right, .information .content .left2 img, .information .content .right2,
  .information .content .left3 img, .information .content .right3, .information .content .left4 img, .information .content .right4
  {
    width: 330px;
    height: 200px;
  }
}
